<a href="https://colab.research.google.com/github/MithunSanthosh1234/Love-Babbar-Coding-Challenge---450-Python/blob/main/Coding_Practices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.GCD of 2 nos:
def gcd(a,b):
  if (a==0):
    return b
  elif b==0:
    return a
  elif a==b:
    return a
  if (a>b):
    return gcd(a-b,b)
  return gcd(a,b-a)


print("GCD OF 98 and 56:",gcd(98,56))

GCD OF 98 and 56: 14

In [ ]:
#2.factorial of a given number:

def fact(num):
  if num<0:
    return 0
  elif num==1 or num==0:
    return 1
  else:
    return num*fact(num-1)


num=int(input())

print("The factorial of",num,"is:",fact(num))

5
The factorial of 5 is: 120

In [ ]:
#3.fibonacci series:

def fibi(num):
  if num<=1:
    return num
  else:
    return (fibi(num-1)+fibi(num-2))

num=int(input())
print("Number of terms",fibi(num))

for i in range(num+1):
  print(fibi(i))

5
Number of terms 5
0
1
1
2
3
5

In [ ]:
#4.sum of digits

num=int(input())
sum=0
while(num>0):
  sum=sum+(num%10)
  num=num//10

print(sum)

17893245
39

In [ ]:
#5.number palindrome

num=int(input())
temp=num
rev=0

while (num!=0):
  rev=(rev*10)+(num%10)
  num=num//10


if(temp==rev):
  print("Its a Number palindrome")
else:
  print("Not a palindrome")

121
Its a Number palindrome

In [ ]:
#6.string palindrome1

str=input()
str1=str
reversed(str)

if(str1==str):
  print("Palindrome")
else:
  print("Not palindrome")

mom
Palindrome

In [ ]:
#7.string palindrome

str=input()

rev=str[::-1]

if(rev==str):
  print("Palindrome")
else:
  print("Not Palindrome")

malayalam
Palindrome

In [ ]:
#8.prime number

def prime(num):
  if(num>1):
    for i in range(2,num):
      if(num%i==0):
        print(num,"is not a prime number")
        break
    else:
        print(num,"is a Prime number")
        

num=int(input())

prime(num)

6
6 is not a prime number

In [ ]:
#9.Reverse the array:


num=[1,2,3,4,5]
#print(num[::-1])

start=0
end=len(num)-1
while start<end:
  num[start],num[end]=num[end],num[start]
  start+=1
  end-=1

print("Reversed array",*num)

[5, 4, 3, 2, 1]
Reversed array 5 4 3 2 1

In [ ]:
#10.Max and min Element of an array

arr=[7,5,1,9,10,11,6]

arr.sort()

print("Min element is:",arr[0])
print("Max element is:",arr[-1])

Min element is: 1
Max element is: 11

In [ ]:
#11.Find duplicates/removing duplicates in an array

arr=list(map(int,input().split()))
unique=[]
duplicates=[]
for i in range(len(arr)):
  if arr[i] not in unique:
    unique.append(arr[i])
  else:
    duplicates.append(arr[i])
  
print(duplicates)
print(unique)

1 2 2 1 3 4 1 2 35 5
[2, 1, 1, 2]
[1, 2, 3, 4, 35, 5]

In [ ]:
#12. Find Kth min element in an array

arr=list(map(int,input().split()))
k=int(input("Enter Kth Min Element: "))
#arr.sort()


for i in range(len(arr)):
  for j in range(i+1,len(arr)):
    if(arr[i]>arr[j]):
      temp=arr[i]
      arr[i]=arr[j]
      arr[j]=temp
print(*arr)
print(" Kth Min Element is",arr[k-1])

7 8 9 4 5 1 2 3
Enter Kth Min Element2
1 2 3 4 5 7 8 9
2 Min Element is 2

In [ ]:
#13. Find Kth max element in an array

arr=list(map(int,input().split()))
k=int(input("Enter Kth Element: " ))

for i in range(len(arr)):
  for j in range(i+1,len(arr)):
    if(arr[i]>arr[j]):
      temp=arr[i]
      arr[i]=arr[j]
      arr[j]=temp

print(*arr)
arrRev=arr[::-1]
print(*arrRev)


print("Kth max Element is: ", arrRev[k-1])

7 8 4 6 9 1 2 3 4
Enter Kth Element: 2
1 2 3 4 4 6 7 8 9
9 8 7 6 4 4 3 2 1
Kth max Element is:  8

In [ ]:
#14. TCS Ninja Q1

n = int(input())
c = 'R'
dis = 10
x,y=0,0
for i in range(n):
    if c=='R':
        x=x+dis
        c='U'
        dis=dis+10
    elif c=='U':
        y=y+dis
        c='L'
        dis=dis+10
    elif c=='L':
        x=x-dis
        c='D'
        dis=dis+10
    elif c=='D':
        y=y-dis
        c='A'
        dis=dis+10
    elif c=='A':
        x=x+dis
        c='R'
        dis=dis+10
print(x,y)

7
90 50

In [ ]:
#15. String Reverse

'''str=input()
s1="".join(reversed(str))
print(s1)
'''
str=input()
rev=""
j=len(str)-1

for i in range(len(str)):
  rev = rev + str[j]
  j-=1

print(rev)

hello
olleh

In [ ]:
#16.String Palindrome

str=input()
rev=""
j=len(str)-1

for i in range(len(str)):
  rev= rev+str[j]
  j-=1

if(rev==str):
  print("Palindrome")
else:
  print("Not Palindrome")

love
Not Palindrome

In [ ]:
#17. Finding the sum of 1st and last element of an array:
#Time Complexity O(1)

arr=list(map(int,input().split()))

sum=arr[0]+arr[-1]
print(arr[len(arr)-1])#last element of an array
print(sum)

1 2 3 4 5
5
6

In [ ]:
#18. Repeating letters
x =input("Enter a word = ")
for char in set(x):
        counts=x.count(char)
        print((char,counts),sep=" ")

Enter a word = hello
('e', 1)
('h', 1)
('l', 2)
('o', 1)

In [ ]:
#19. TCS Ninja

'''Write a program to print the pattern such that the elements of first row, first 
column,last row and last column should be one and the remaining elements should be
zero.'''


row,col=map(int,input().split())

for i in range(row):
  for j in range(col):
    if(i==0 or i==row-1 or j==0 or j==col-1):
      print(" ",end="1")
    else:
      print(" ",end="0")
  print('\r')

3 3
 1 1 1
 1 0 1
 1 1 1

In [ ]:
#20.  TCS Ninja

'''Given a sorted array with many duplicate elements, the problem is to find indexes of
first and last occurrences of an element X in the given array.Start the array index from 0.
If element X is not present in the array,print "NO OCCURENCES".'''


n=int(input())
arr=list(map(int,input().split()))
x=int(input())

first=-1
last=-1

for i in range(n):
  if(arr[i]==x and first==-1):
    first=i
    last=i
  elif(arr[i]==x and first!=-1):
    last=i

if(first==-1):
  print("NO OCCURENCES")
else:
  print("Index position of Element X in First and last: ")
  print(first,last)

5
1 2 3 4 5
3
Index position of Element X in First and last:
2 2

In [ ]:
#21. TCS Ninja

'''
Consider the following series: 1,1,2,3,4,9,8,27,16,81,32,243,64,729,128,2187…
This series is a mixture of 2 series – all the odd terms in this series form a geometric series
and all the even terms form yet another geometric series. Write a program to find the
Nth termin the odd series.
The value N in a positive integer that should be read from STDIN. The Nth term that is
calculated by the program should be written to STDOUT. Other than value of n thterm,no
other character / string or message should be written to STDOUT. For example , if N=16,
the 16th term in the series is 2187, so only value 2187 should be printed to STDOUT.
You can assume that N will not exceed 30.'''


n=int(input())

if(n%2==0):
  val=1
  n=n//2
  for i in range(2,n+1): 
    val =val*3
  print(val)

else:
  val=1
  n=n//2 + 1
  for i in range(2,n+1):
    val=val*2
  print(val)

1
1

In [ ]:
#22. TCS Ninja GCD:

def gcd(a,b):
  if(a<0 or b<0):
    return (-1)
  elif(a==0):
    return b
  elif(b==0):
    return a
  elif(a>b):
    return gcd(a-b,b)
  else:
    return gcd(a,b-a)


a,b=map(int,input().split())

res=gcd(a,b)
if(res==-1):
  print("Wrong Input")
else:
  print(res)

-1 0
Wrong Input

In [ ]:
#23. Armstrong number: To check whether the number is an Armstrong or not:
#153,370,371,1634 --- >Armstrong number

num=int(input())
temp=num
sum = 0
while (num!=0):
  dig=num%10
  sum = sum +(dig**3)
  num=num//10

print(sum)
if(sum==temp):
  print("Arnmstrong number")
else:
  print("Not An Armstrong Number")

153
153
Arnmstrong number

In [ ]:
#24. Armstrong number between given range:

def armstrong(start,end):
  for i in range(start,end+1):
    sum = 0  
    temp = i 
    while temp > 0:  
       digit = temp % 10  
       sum += digit ** 3  
       temp //= 10  
    if i == sum:  
            print(i,end=" ")
  else:
      print("No Armstrong Num between the given interval")


a,b=map(int,input().split())
armstrong(a,b)

200 300
No Armstrong Num between the given interval

In [ ]:
#25. Prime Numbers between the range:

def prime(start,end):
  for num in range(start,end+1):
    if(num>1):
      for i in range(2,num):
        if(num%i==0):
          break
          
      else:
        print(num)
        
      
    

a,b=map(int,input().split())
prime(a,b)

85 125
89
97
101
103
107
109
113

In [ ]:
def fact(num):
  if(num<=1):
    return num
  else:
    return num*fact(num-1)

print(fact(int(input())))

5
120

In [ ]:
#26. Printing Patterns:

num=int(input())

for i in range(1,num+1):
  print("* "*i)

5
*
* *
* * *
* * * *
* * * * *

In [ ]:
num=int(input())

for i in range(1,num+1):
  print(" "*(num-i)+"* "*i)

5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
num=int(input())

for i in range(num,0,-1):
  print(" "*(num-i)+"* "*i)

5
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
num=int(input())
for i in range(1,num+1):
  print("  "*(num-i)+"* "*i)

5
        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
num=int(input())
for i in range(1,num+1):
  print(" "*(num-i)+"* "*i)

for i in range(num,0,-1):
  print(" "*(num-i)+"* "*i)

5
    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
num=int(input())

for i in range(1,num+1):
  print("  "*(num-i)+"* "*i)
for i in range(num,0,-1):
  print("  "*(num-i)+"* "*i)

5
        *
      * *
    * * *
  * * * *
* * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
num=int(input())

for i in range(1,num+1):
  print("* "*i)
for i in range(num-1,0,-1):
  print("* "*i)

5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
num=int(input())

for i in range(1,num+1):
  print("  "*(num-i)+ "* "*i)

for i in range(num-1,0,-1):
  print("  "*(num-i)+"* "*i)

5
        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
# * pattern in heart shape:

for i in range(6):
  for j in range(7):
    if((i==0 and j%3!=0) or (i==1 and j%3==0) or (i-j==2)or (i+j==8)):
      print("*",end=" ")
    else: 
      print(" ",end=" ")
  print()

  * *   * *
*     *     *
*           *
  *       *
    *   *
      *

In [ ]:
num=5

'''for i in range(1,num+1):
  print("* "*i)'''
for i in range(num,0,-1):
  print(" "*(num-i)+"* "*i)

* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
num = int(input())
sum=0
temp=num

while(num!=0):
  dig =num%10
  sum=sum+(dig**3)
  num=num//10
if(temp==sum):
  print("Armstrong")

153
Armstrong

In [ ]:
def armstrong(start,end):

  for num in range(start,end+1):
    sum=0
    temp=num
    while(temp!=0):
      dig=temp%10
      sum =sum +(dig**4)
      temp=temp//10
    if(sum==num):
        print(num,end=" ")

armstrong(1000,4000)

1634

In [ ]:
#27. Anagram

str1,str2=map(str,input().split())

if(len(str1)==len(str2)):
  if(sorted(str1)==sorted(str2)):
    print("Anagram")
  else:
    print("Not Anagram")

jkn ionmkm

In [ ]:

#28. grouping of anagrams
from collections import defaultdict

def anagrams(strs):
  dicts=defaultdict(list)
  for s in strs:
    key ="".join(sorted(list(s)))
    dicts[key].append(s)

  return [l for l in dicts.values()]


strs=['cat','earth','mat','tam','tac','act','ate','eat','heart']

print(*anagrams(strs))

['cat', 'tac', 'act'] ['earth', 'heart'] ['mat', 'tam'] ['ate', 'eat']

In [ ]:
#29. Given a time in 12-hour AM/PM format, convert it to railway (24-hour) time.

def timeConversion(s):

  if(s[-2:]=='AM' and s[:2]=='12'):#midnight
    print('00'+s[2:-2])
  elif(s[-2:]=="AM"):#Morning
    print(s[:-2])
  elif(s[-2:]=='PM' and s[:2]=='12'):
    print(s[:-2])
  else:
    return ("%s%s"%((int(s[:2]) + 12),(s[2:8])))

    
print(timeConversion("01:15:20 PM"))

13:15:20

In [ ]:
#30. Finding Common element in 3 arrays:

def findCommon(ar1, ar2, ar3, n1, n2, n3):
    i, j, k = 0, 0, 0
    while (i < n1 and j < n2 and k< n3):
        if (ar1[i] == ar2[j] and ar2[j] == ar3[k]):
            print(ar1[i])
            i += 1
            j += 1
            k += 1
        elif ar1[i] < ar2[j]:
            i += 1
        elif ar2[j] < ar3[k]:
            j += 1
        else:
            k += 1
ar1 = list(map(int,input().split()))
ar2 = list(map(int,input().split()))
ar3 = list(map(int,input().split()))
n1 = len(ar1)
n2 = len(ar2)
n3 = len(ar3)
print(findCommon(ar1, ar2, ar3, n1, n2, n3))

5 6 7
4 5 9 10
1 2 3 4 5
5
None

In [ ]:
#31. Move all negatives to one part of the array

arr=list(map(int,input().split()))

neg=[]
pos=[]

for i in range(len(arr)):
  if arr[i]<0:
    neg.append(arr[i])
  else:
    pos.append(arr[i])

neg.sort() 
pos.sort()
print(*(neg+pos))

88 99 11 -22 -33 -44 -77 6 4 5 -20 -35
-77 -44 -35 -33 -22 -20 4 5 6 11 88 99

In [ ]:
#32. union of 2 arrays

import numpy as np
a=list(map(int,input("Arr1: ").split()))

b=list(map(int,input("Arr2: ").split()))

print("Union of arr1 and arr2: ",*np.union1d(a,b))

Arr1: 1 2 3
Arr2: 4 5 6
Union of arr1 and arr2:  1 2 3 4 5 6

In [ ]:
def Union(lst1, lst2):
    final_list = list(set(lst1) | set(lst2))
    return final_list

lst1 = list(map(int,input("Arr1: ").split()))
lst2 =list(map(int,input("Arr1: ").split()))

print(Union(lst1, lst2))

Arr1: 1 2 3
Arr1: 2 3 4 5 6
[1, 2, 3, 4, 5, 6]

In [ ]:
#33. intersect of 2 array:
import numpy as np

arr1=list(map(int,input("Arr1: ").split()))
arr2=list(map(int,input("Arr1: ").split()))

print(*np.intersect1d(arr1,arr2))

Arr1: 1 2 3 4 5 6
Arr1: 3 4 5 6 7 9
[3 4 5 6]

In [ ]:
#intersection using set
arr1=list(map(int,input("Arr1: ").split()))
arr2=list(map(int,input("Arr1: ").split()))

common = list(set(arr1) & set(arr2))

print(*common)

Arr1: 1 2 3 4 5
Arr1: 2 3 4 7
2 3 4

In [ ]:
#34. Soting an array in wave form:

def waveSort(arr,n):
  arr.sort()

  for i in range(0,n-1,2):
    arr[i],arr[i+1]=arr[i+1],arr[i]
  



arr=list(map(int,input().split()))
waveSort(arr,len(arr))

for i in range(0,len(arr)):
  print(arr[i],end=" ")

10 1 2 3 7 9 2 26
2 1 3 2 9 7 26 10

In [ ]:
#35. Rotate the array in clock wise direction:

def rotate(arr,n):
  x=arr[n-1]
  for i in range(n-1,0,-1):
    arr[i]=arr[i-1]
  arr[0]=x
  
arr= list(map(int,input().split()))
n=len(arr)
rotate(arr,n)

print(*arr)

1 2 3
3 1 2

In [ ]:
#36. Largest Sum Contiguous Subarray -- Kadane's Algorithm 

def largestSum(arr,n):
  actual_max=arr[0]
  curr_max=arr[0]

  for i in range(1,n):
    curr_max=max(arr[i],(curr_max+arr[i]))
    actual_max=max(actual_max,curr_max)
  return actual_max


arr=list(map(int,input().split()))

print(largestSum(arr,len(arr)))

1 2 3 -2 5
9

In [ ]:
#37. Searching an element in a matrix

def search(matrix,n,ele):
  i=0
  j=n-1

  while(i<n and j>=0):
    if(matrix[i][j]==ele):
      print("Element found at: ", i,j)
      break
    elif(matrix[i][j]>ele):
      j=j-1
    elif(matrix[i][j]<ele):
      i=i+1
    print("Element not found.")
    break

matrix=[]
n,m=map(int,input().split())
print("Enter Matrix Elements: ")
print()

for i in range(n):
  matrix.append(list(map(int,input().rstrip().split())))

ele=int(input("Enter the Element to search in the matrix: "))

matrix.sort()

search(matrix,n,ele)

2 2
Enter Matrix Elements:

3 6
7 1
Enter the Element to search in the matrix: 1
Element not found.

In [ ]:
M = 2
N = 2
def binarySearch1D(arr, K):
    low = 0
    high = N - 1
    while (low <= high):
        mid = low + int((high - low) / 2)
        if (arr[mid] == K):
            return True
        if (arr[mid] < K):
            low = mid + 1
        else:
            high = mid - 1
    return False
def searchMatrix(matrix, K):
    low = 0
    high = M - 1
    while (low <= high):
        mid = low + int((high - low) / 2)
        if (K >= matrix[mid][0] and
            K <= matrix[mid][N - 1]):
            return binarySearch1D(matrix[mid], K)
        if (K < matrix[mid][0]):
            high = mid - 1
        else:
            low = mid + 1
    return False
 
# Driver code
if __name__ == '__main__':
    matrix = []
    for i in range(M):
        matrix.append(list(map(int,input().rstrip().split())))
    K = int(input("Enter Element to be searched: "))
    matrix.sort()
    if (searchMatrix(matrix, K)):
        print("Found")
    else:
        print("Not found")

2 3
6 1
Enter Element to be searched: 1
Not found

In [ ]:
#Kadane's Algorithm:

def maxSum(arr,n):

  initial_sum=arr[0]
  curr_sum=arr[0]
  for i in range(1,n):
    curr_sum=max(arr[i],(curr_sum+arr[i]))
    initial_sum=max(initial_sum,curr_sum)
  
  return initial_sum



arr = [1,2,3,-2,5]
n=len(arr)
print(maxSum(arr,n))

9

In [ ]:
#38. Merge 2 sorted arrays without extra spaces


arr1=list(map(int,input().split()))

arr2=list(map(int,input().split()))

arr1.sort()
arr2.sort()

res=(arr1+arr2)
res.sort()
print(*res)

5 10
18 12 20
5 10 12 18 20

In [ ]:
#39. Merge intervals

def merge(intervals):
  intervals.sort()
  res=[]
  start,end=intervals[0][0],intervals[0][1]

  for i in intervals:
    if i[0]>end:
      res.append([start,end])
      start,end=i[0],i[1]
    else:
      end=max(end,i[1])
  res.append([start,end])
  return res

intervals=[[1,3],[2,6],[8,10],[15,18]]

merge(intervals)

[[1, 6], [8, 10], [15, 18]]

In [ ]:
#40. Write a Code to check whether one string is a rotation of another

def checkRotate(str1,str2):
  n1=len(str1)
  n2=len(str2)

  temp=''

  if n1!=n2:
    return 0
  
  temp=str1+str2
  if (temp.count(str2)> 0):
        return 1
  else:
        return 0


str1=input()
str2=input()

if(checkRotate(str1,str2)):
  print("Yes")
else:
  print("No")

acbd
bdca
Yes

In [ ]:
#41. Second greatest of 3 nos.
#Method 1:
lst=list(map(int,input().split()))

maxi = max(lst[0],lst[1])
secondmax=min(lst[0],lst[1])

for i in range(2,len(lst)):
  if(lst[i]>maxi):
    secondmax=maxi
    maxi=lst[i]
  elif(lst[i]>secondmax and maxi !=lst[i]):
    secondmax=lst[i]

print("Second Largest no. ",secondmax)

1 2 3
Second Largest no.  2

In [ ]:
#Second Greatest of 3 nos.

lst=list(map(int,input().split()))
lst.sort()

print("Second largest: ",lst[-2])

4 12 30
Second largest:  12

In [ ]:
#42. Circumference of a circle:

rad=int(input())

pi=3.14

circum=2*pi*rad
print(round(circum,3))

7
43.96

In [ ]:
#43. 
'''James has decided to take a break from his work. He makes a plan to visit India for a few days with his family.
 He knows a lot about India, and also about the various cities he could visit. He decides to write down all the cities on a paper.
 Let the number of cities be n. Now, he shows the list to his wife and asks her, the city/cities she wants to visit. 
 He tells her that she can select any city/cities and any number of cities. The wife says, she needs a day to decide.

After this, James calls his son and tells him all about the trip, and the list of cities. He gives him a task and asks him, the number of ways the city/cities can be chosen from the list, if the total number of cities written on the list is n. The cities are numbered from 1 to n. At least 1 city has to be selected.

He now asks your help to find the answer for the question that was asked to him.
The problem consists of a number of test cases.

INPUT:
The first line of input contains the number of test cases t.
Then t lines follow, each contains a number n, the number of cities.

OUTPUT:
Output contains t lines; each line contains the answer for that test case. As the answer can be large, print the answer modulo 10^9+7

CONSTRAINTS
1<=t<=100000
1<=n<=1012'''


n=int(input())
for _ in range(n):
  n = int(input())
  p = int(1e9+7)
  print(pow(2,n,p)-1)

2
2
3
1
1

In [ ]:
#44.
'''Consider the below series :

0,0,2,1,4,2,6,3,8,4,10,5,12,6,14,7,16,8
This series is a mixture of 2 series all the odd terms in this series form even numbers in ascending order
Every even terms is derived from the previous  term using the formula (x/2)
Write a program to find the nth term in this series.

The value n in a positive integer that should be read from STDIN the nth term that is calculated by the program should be written to STDOUT.
Other than the value of the nth term no other characters /strings or message should be written to STDOUT.'''


n = int(input('enter the number:'))

a=0
b=0

for i in range(1,n+1):
    if(i%2!=0):
        a= a+2
    else:
        b= b+1

if(n%2!=0):
    print('{}'.format(a-2))
else:
    print('{}'.format(b-1))

enter the number:5
4

In [ ]:
#45. Validate Paranthesis:

def isValid(s: str) -> bool:
        open_keys = ["(","[","{"]
        ht = {
            "(":")",
            "[":"]",
            "{":"}"
        }
        ans = []
        for c in s:
            if c in open_keys:
                ans.append(c)
            else:
                if ans and c == ht[ans[-1]]:
                    ans.pop()
                else:
                    return False
        if not ans:
            return True 
        else:
            return False

    

print(isValid(input()))

([])
True

In [ ]:
#46. Roman to Integers:
s='IV'
hashmap = {'I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000}
total, prev = 0, 0
for i in s:
    cur = hashmap[i]
    if cur > prev:
        total -= prev
        total += cur - prev
    else:
        total += cur
    prev = cur
print(total)

4